body {
     font-family: 'Roboto', sans-serif;
     font-size: 1.2em;
     margin: 0;
}
p{
   -webkit-margin-before: 0;
}
h1{
   font-size: 2.3em;
   font-weight: 300;
   line-height: 1em;
}
.katex { font-size: 1.3em !important; }
